/* Main CSS file - imports all modules */
@import url('variables.css');
@import url('base.css');
@import url('header.css');
@import url('timetable.css');
@import url('lesson-card.css');
@import url('modal.css');
@import url('mobile.css');
